<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">HotelMg</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_hotel') }}">Hotels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_room') }}">Chambres</a>
          </li>
        {% endif %}
    </div>
    <div>
      {% if app.user %}
        <a href="{{ path('app_show_user', {"id": app.user.id }) }}" class="btn btn-sm btn-info"> Mon Profil</a>
        <a href="{{ path('app_security_logout') }}" class="btn btn-sm btn-warning"> Deconnexion</a>
      {% else %}
        <a href="{{ path('app_security_login') }}" class="btn btn-sm btn-info"> Connexion</a>
      {% endif %}
    </div>
  </div>
</nav>