{% extends "base.html.twig" %}

{% block title %}HotelMg - Chambre information{% endblock %}

{% block body %}
    <div class="container mt-3 pb-2">
        <div class="alert alert-info">
            Chambre Information
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <a href="{{ path('app_update_room', {"id": room.id}) }}" class="btn btn-sm btn-success">Modifier</a>
                <a href="{{ path('app_delete_room', {"id": room.id}) }}" class="btn btn-sm btn-danger">Supprimer</a>
            </div>
            <div>
                <a href="{{ path('app_room') }}" class="btn btn-sm btn-dark">retour</a>
            </div>
        </div>
        <hr>
        <div class="row mt-5">
            <div class="col-md-6">
                <h4> Chambre information</h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Hotel</strong></td>
                            <td>{{room.hotel}} </td>
                        </tr>
                        <tr>
                            <td><strong>Numero</strong></td>
                            <td>{{room.number}} </td>
                        </tr>
                        <tr>
                            <td><strong>Nom</strong></td>
                            <td>{{room.name}} </td>
                        </tr>
                        <tr>
                            <td><strong>Description</strong></td>
                            <td>{{room.description}} </td>
                        </tr>
                        <tr>
                            <td><strong>Capacité</strong></td>
                            <td>{{room.capacity}} personnes </td>
                        </tr>
                        <tr>
                            <td><strong>Dimension</strong></td>
                            <td>{{room.size}} m² </td>
                        </tr>
                        <tr>
                            <td><strong>Location</strong></td>
                            <td>{{room.location}} m² </td>
                        </tr>
                        <tr>
                            <td><strong>Prix</strong></td>
                            <td><span class='btn btn-sm btn-primary'>{{room.price | number_format(2, ",",".") }} Ariary </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                {% if room.imageName is same as null %}
                    {% set image = "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1864fe7f6e9%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1864fe7f6e9%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71249771118164%22%20y%3D%22120.18000011444092%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" %}
                {% else %}
                    {% set image = asset("images/rooms/" ~ room.imageName) %}
                {% endif %}
                <img class="img-fluid" alt="Thumbnail [200x250]" src="{{image}}" style="height: 300px;"  data-holder-rendered="true">
            </div>
        </div>        
    </div>
{% endblock %}