{% extends "base.html.twig" %}

{% block title %}HotelMg - hotel information{% endblock %}

{% block body %}
    <div class="container mt-3 pb-2">
        <div class="alert alert-info">
            Hotel Information
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <a href="{{ path('app_update_hotel', {"id": hotel.id}) }}" class="btn btn-sm btn-success">Modifier</a>
                <a href="{{ path('app_delete_hotel', {"id": hotel.id}) }}" class="btn btn-sm btn-danger">Supprimer</a>
            </div>
            <div>
                <a href="{{ path('app_hotel') }}" class="btn btn-sm btn-dark">retour</a>
            </div>
        </div>
        <hr>
        <h3>{{hotel.name}}</h3>
        <p class="lead">{{hotel.description}}</p>
        <p class="lead">{{hotel.nbStar}} étoiles </p>
        
        {% if hotel.imageName %}
            <img src="{{ asset("images/hotels/" ~ hotel.imageName) }}" class='img-fluid rounded'>
        {% endif %}
        
    </div>
{% endblock %}